.wcfa_settings_row
{
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
}
.wcfa_editor_container
{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	min-width: 48%;
}
.wcfa_msg 
{
	display: block;
	clear: both;
	min-width: 400px;
}
.wcfa_max_width 
{
	width: 95%;
}